{% extends "base.html" %}
{% load staticfiles %}
{% block extraheaders %}
<link rel="stylesheet" type="text/css" href={% static 'stats/css/ex.css' %} >
<link rel="stylesheet" type="text/css" href={% static 'admin/css/base.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'admin/css/widgets.css' %}>
<script type=text/javascript src={% static 'stats/js/jsi18n' %}></script>
<script type=text/javascript src={% static 'static_jquery/js/jquery.js' %}></script>
<script type="text/javascript" src={% static 'admin/js/core.js' %}></script>
<script type="text/javascript" src={% static 'admin/js/jquery.init.js' %}></script>
<script type=text/javascript src={% static 'static_jquery/js/jquery.js' %}></script>
<script type=text/javascript src={% static 'stats/js/jquery.formset.js' %}></script>

{% endblock %}
{% block page %}

<h1> Add New Expedition </h1>
{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
{% if charformset.errors %}<p><strong>{{ charformset.errors }}</strong></p>{% endif %}
{% if charformset.errors %}<p><strong>{{ charformset.non_form_errors }}</strong></p>{% endif %}
{% for row in charformset %}
{% if row.errors %}<p><strong>{{ row.errors }}</strong></p>{% endif %}
{% endfor %}

<form method="post" id="addExForm">
	{% csrf_token %}
	{{ form |linebreaks}}
	<table> <tbody>
	{% for row in charformset.forms %}
	<tr id="{{ row.prefix }}-row">
		<td> {{ row.char }} </td>
		<td> {{ row.value }} </td>
	</tr>
	{% endfor %}
	</tbody> </table>
	{{ charformset.management_form }}
	<script type="text/javascript">
		$(function() {
			$('#addExForm tbody tr').formset({
				prefix: "{{ charformset.prefix }}"
				});
		}) 
	</script>	
	<br />
<input type="submit" name="submit" value="done" />
</form>
{{ form.media }}
{% endblock %}
