{% extends "base.html" %}
{% load staticfiles %}
{% block extraheaders %}
<link rel="stylesheet" type="text/css" href={% static 'stats/css/charlist.css' %}>
{% endblock %}
{% block page %}
<h3> Alive </h3>
<ul class=characters>
{% for c in pcs %}
	<li> <a href={% url 'stats:char_view' c.slug %}>{{ c.name }}</a></li>
{% endfor %}
</ul>
<h3> Shared Characters</h3>
<ul class=characters>
{% for c in npc %}
	<li> <a href={% url 'stats:char_view' c.slug %}>{{ c.name }}</a></li>
{% endfor %}
</ul>
<h3> Dead PCs </h3>
<ul class=characters>
{% for c in dead %}
	<li> <a href={% url 'stats:char_view' c.slug %}>{{ c.name }}</a></li>
{% endfor %}
</ul>
<h3> Departed PCs </h3>
<ul class=characters>
{% for c in gone %}
	<li> <a href={% url 'stats:char_view' c.slug %}>{{ c.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
