{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href={% static 'stats/css/table.css' %} >
<script type=text/javascript src={% static 'static_jquery/js/jquery.js' %}></script>
<script type=text/javascript src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
<!-- <script type=text/javascript src={% static 'stats/js/jquery.tablesorter.js' %}></script> -->
<!-- <script type=text/javascript src={% static 'stats/js/jquery.CongelarFilaColumna.js' %}></script> -->
</head>
{% if character_overview %}
<div class="tablediv">
<table id="allChars" class="tablesorter">
	<thead> <tr> <th class="headcol"><a href="{% url 'stats:addex' %}">New Ex</a> <br> <a href="{% url 'stats:addch' %}">New Char</a></th> 
	<th>Status</th><th>Level</th><th>Total XP</th><th> Next Level</th> 
	{% for ex in allex %}
		<th> <a href="{% url 'stats:ex_view' ex.slug %}">{{ex.name}} </a></th>
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for char in character_overview %}
		<tr class="char_{{char.status}}">
		<th class="headcol char_{{char.status}}"> <a class="char_{{char.status}}" href="{% url 'stats:char_view' char.slug %}">{{ char.name }}</a> </td>
		{% for xp in char.tableInfo %}
			<td> {{ xp }} </td>
		{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function()
	{
		$("#allChars").tablesorter(
			{cancelSelection: false,
			tableClass: "tablesorter",
			cssAsc: "headerSortUp",
			cssDesc: "headerSortDown",
			cssHeader: "header",}
		);
	}
);
</script>
{% else %}
    <p>No characters are available.</p>
{% endif %}
